body{
    background-color:darkgray;
    text-align: center;
    color: white;
}

#titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#puntajes{
    display: flex;
    flex-direction: row;
    background-color: rgb(14, 189, 131);
    justify-content: center;
    align-items: center;
    width: 40%;
}

.puntaje{
    display: flex;
    flex-direction: row;
    margin: 0% 5%;
    padding: 0%;
}

#contenido{
    background-color:chartreuse;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 2% 20%;
    padding: 3%;
}

#usuario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imagenes{
    width: 100px;
    padding: 3%;
}